
* {
    gap: 6px;

}

body {
    background-color: darkslategrey;
    text-align: center;
    color: snow;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.calculatorBody {
    background-color: rgb(240, 230, 230);
    text-align: -webkit-center;
    padding: 6px;
}

.screen {
    border: solid 2px;
    width: 300px;
    height: 30px;
    color: black;
}

.buttons {
    padding: 10px ; 
}

.controlsButtons {
    margin: 0;
}
.controls {
    display: flex;
}


.control-digit-operations {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.digits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 6px;
}
.digit {
    background-color: teal;
}


.numbersAndOp{
    margin-bottom: 6px;
}
.operations{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}
button {
    gap: 10px;
    width: 80px;
    height: 80px;
}

.digit:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#equals-button {
    width: 165px;
}

.downButtons {
    display: flex;
    justify-content: space-between;
}